@import url('styles.css');



h1, h2, h3, h4, h5, p, a {
    font-size: 18px;
    font-family: "Open Sans", system-ui;
}

h5 {
    font-weight: 600;
    font-family: "Open Sans", system-ui;
}


a, p {
    font-size: 15px;
    letter-spacing: normal;
    /* text-align: justify; */
}


hr {
    border-top: 1px solid #000;
    box-shadow: 0 0 2px #999, 0 0 4px rgba(0, 0, 0, 0.125), 0 0 1rem rgba(255, 255, 255, .2), 0 0 4rem rgba(255, 255, 255, .3);
    opacity: 1;
}
