body {
  background: white;
}


.ag-header-cell-label {
    justify-content: center;
  }


.leaflet-tooltip {
  position: absolute;
  transform: translate(-50%, -100%);
  z-index: 1000;

  /* Optional: Add other styling like background, padding, etc. */
}



.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
    -ms-touch-action: none;
    touch-action: none;
    zoom: 75%;
}



li {
  font-size: 15px;
}


.ag-header-cell-label {
    justify-content: center;
  }



code {
    color: #00a699
}
